@model stevejobstemp.Models.Notum

@{
    ViewData["Title"] = "Edit";
    List<Notum> data = ViewBag.datos;
}

<h1>Actualizar Notas</h1>

<h4>Alumno - Materia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotaId" />
            <!--<label asp-for="Alumno.FullName"></label>
            <label asp-for="Materia.Materia"></label>-->
            <div class="form-group" hidden>
                <label asp-for="Alumno" class="control-label"></label>
                <input asp-for="AlumnoId" class="form-control" />
                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" hidden>
                <label asp-for="MateriaId" class="control-label"></label>
                <input asp-for="MateriaId" class="form-control"/>
                <span asp-validation-for="MateriaId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="CalificacionUno" class="control-label">Calificación #1</label>
                <input type="number" step=".01" asp-for="CalificacionUno" class="form-control"/>
                <span asp-validation-for="CalificacionUno" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="CalificacionDos" class="control-label">Calificación #2</label>
                <input type="number" step=".01" asp-for="CalificacionDos" class="form-control"/>
                <span asp-validation-for="CalificacionDos" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="CalificacionTres" class="control-label">Calificación #3</label>
                <input type="number" step=".01" asp-for="CalificacionTres" class="form-control"/>
                <span asp-validation-for="CalificacionTres" class="text-danger"></span>
            </div>
            <br />

            <div id="divcal4" class="form-group">
                <label for="CalificacionCuatro" class="control-label">Calificación #4</label>
                <input type="number" step=".01" asp-for="CalificacionCuatro" class="form-control"/>
                <span asp-validation-for="CalificacionCuatro" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" hidden>
                <label for="CalificacionTotal" class="control-label">Promedio</label>
                <input asp-for="CalificacionTotal" class="form-control"/>
                <span asp-validation-for="CalificacionTotal" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" onclick="promedio()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    promedio();

    function promedio(){
        var cal1 = parseFloat(document.getElementById("CalificacionUno").value);
        var cal2 = parseFloat(document.getElementById("CalificacionDos").value);
        var cal3 = parseFloat(document.getElementById("CalificacionTres").value);
        var cal4 = document.getElementById("CalificacionCuatro").value;
        
        var sum = 0.0;
        var prom = 0.0;

        if (cal4 == ""){
            document.getElementById("divcal4").hidden = true;
            sum = cal1 + cal2 + cal3;
            prom = sum / 3;
        } else {
            cal4 = parseFloat(cal4);
            sum = cal1 + cal2 + cal3 + cal4;
            prom = sum / 4;
        }

        document.getElementById("CalificacionTotal").value = prom;
    }
    
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
